html,
body {
  height: 100%;
  margin: 0;
}
body {
  min-height: 128px;
  min-width: 512px;
}
.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.apple-container {
  cursor: pointer;
  height: 128px;
  position: relative;
  width: 128px;
}
.apple-top,
.apple-bottom {
  left: 0;
  position: absolute;
  top: 0;
  transition: top 200ms;
}
.apple-top {
  z-index: 1;
}
